// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #0EAD69;
$gray: #000000;
$light-gray: #EDEDED;
$light-orange: #FC9F5B;
$medium-gray: #C8C8C8;
