<div class="block">
  <p>
    <%= feature %>
  </p>
  <div class='box'>
      <% if boolean %>
        <i class="fa fa-check" aria-hidden="true"></i>
      <% else %>
        x
      <% end %>
  </div>
</div>
