<div class="block">
  <p>
    <%= feature %>
  </p>
  <div class='box'>
      <% if boolean %>
        <i class="fa fa-check" aria-hidden="true" id="present"></i>
      <% else %>
        <i class="fa fa-times-circle" aria-hidden="true" id="ausent"></i>
      <% end %>
  </div>
</div>
