<% room.photos.each do |room_photo| %>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path room_photo.path, height: 300, width: 400, crop: :fill %>');">
      <div class="card-description">
        <h2> <%= room.name  %> </h2>
      </div>
      <%= link_to "ver", room_path(room), class: "card-link" %>
    </div>
  </div>
<% end %>
