  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h3> Complete o cadastro do local </h3>
          <%= render 'form_edit_room' %>
          <p><%= link_to 'Back', rooms_path %></p>
          </div>
    </div>
  </div>