<%= render 'banner_room' %>
<div class="wrapper-blue">
  <div class="card-wraper">
    <div class="row">
      <% @rooms.each do |room| %>
        <%= render 'card_rooms', room: room %>
      <% end %>
    </div>
  </div>
</div>


