.footer {
  background-color: #C8C8C8 !important;
  color:grey;
  bottom: 0%;
  left: 0%;
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 30px;
}

.footer a {
  color: #313e4e;
  font-size: 30px;
}

.footer a:hover {
  text-decoration: none;
  color: grey;
}

.footer-separator {
  height: 1px;
  width: 50vw;
  background-color: rgba(222,222,222, 0.8);
  position: absolute;
  right: 25vw;

}

.text-footer {
  padding-top: 10px;
  font-weight: lighter;
  font-size: 15px;
}
