// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/utils";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-datepicker3";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "components/banner.scss";
@import "components/card.scss";
@import "components/room.scss";
@import "components/footer.scss";
@import "components/forms.scss";
@import "components/map.scss"

